*{
margin: 0;
}

.topnav{
padding: 4%;
background-color: #F5D6AF;    
}

.contento{
text-decoration: none;
color: black;
border-radius: 30px;
padding: 15px 15px 15px 15px;
margin: 0% 2% 0%;
background-color: gainsboro;
}


.head{
font-family: 'lobster' ,cursive;
font-size: 180%;
color: black;
text-align: center;
text-decoration: underline;
}

.divide{
padding: 2%;
background-color: #A1C267;
}

.dulces{
margin: 1% 40%;
background-color: #DCD4D5;
width: 15%;
padding: 1%;
}

.dulces p{
font-family: cursive;
color: black;
text-align: center;
}

.contet{
margin-top: 2%;
height: 100%;
position: relative;
left: 1%;
width: 99%;
padding-bottom: 27%;
}
    
.a{
background-image: url(pesti%C3%B1os-mielWeb.jpg);
background-size: 100% 100%;
top: 0;
position: absolute;
height: 100%;
left: 10%;
width: 18%;
background-color: gainsboro;
}

.btn1{
background-image: radial-gradient(ellipse farthest-corner at 0px 65px , #89F118 -2%, rgba(0, 1, 0, 1));
border-radius: 12px;
border: none;
left: 25%;
bottom: 4%;
position: absolute;
padding: 6%;
width: 50%;
}

.btn1 a{
text-decoration: none;
color: silver;
font-size: 100%;
font-family: cursive;    
}

.a1
{
display: none;
top: 0;
position: absolute;
height: 100%;
left: 10%;
width: 18%;
background-color: black;
opacity: 0.8;
}


.padre1
{
display: block;
text-align: center;
margin: 2% 5%;
font-size: 12px;
color: white;
}

.padre1 p
{
margin: -1% -2%;
font-size:6px;
color: steelblue;
font-family: sans-serif; 
}

.link1
{
font-size: 10px;
color: dodgerblue;
position: absolute;
bottom: 18px;
left: 20%;
}

.hidden1
{ 
position: absolute;
bottom: 5px;
left: 20%;
font-size: 10px;
color: cornflowerblue;
text-decoration: none;
}

.b{
background-image: url(frixuelos_Australianos.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
top: 0;
position: absolute;
left: 30%;
width: 18%;
background-color: gainsboro;
height: 100%;
}

.b1
{
display: none;
top: 0;
position: absolute;
left: 30%;
width: 18%;
background-color: black;
opacity: 0.8;
height: 100%;
}

.padre2
{
display: block;
text-align: center;
margin: 2% 5%;
font-size: 12px;
color: white;
}
.padre2 p
{
margin: -1% -2%;
font-size:6px;
color: steelblue;
font-family: sans-serif; 
}

.link2
{
font-size: 10px;
color: dodgerblue;
position: absolute;
bottom: 18px;
left: 20%;
}

.hidden2
{ 
position: absolute;
bottom: 5px;
left: 20%;
font-size: 10px;
color: cornflowerblue;
text-decoration: none;
}

.btn2{
background-image: radial-gradient(ellipse farthest-corner at 0px 65px , #00FFFF -2%, rgba(0, 0, 0, 1));
border-radius: 12px;
border: none;
left: 25%;
bottom: 4%;
position: absolute;
padding: 6%;
width: 50%;  
}

.btn2 a{
text-decoration: none;
color: silver;
font-size: 100%;
font-family: cursive; 
}

.c{
background-image: url(tartaletas-de-fresa.jpg);
background-size: 100% 100%;
top: 0;
position: absolute;
left: 50%;
width: 18%;
background-color: gainsboro;
height: 100%;   
}

.c1
{
display: none;
top: 0;
position: absolute;
left: 50%;
width: 18%;
background-color: black;
opacity: 0.8;
height: 100%;   
}

.padre3
{
display: block;
text-align: center;
margin: 2% 5%;
font-size: 12px;
color: white;
}

.padre3 p
{
margin: -1% -2%;
font-size:6px;
color: steelblue;
font-family: sans-serif; 
}

.link3
{
font-size: 10px;
color: dodgerblue;
position: absolute;
bottom: 18px;
left: 20%;
}

.hidden3
{ 
position: absolute;
bottom: 5px;
left: 20%;
font-size: 10px;
color: cornflowerblue;
text-decoration: none;
}

.btn3{
background-image: radial-gradient(ellipse farthest-corner at 0px 65px , #89F118 -2%, rgba(0, 0, 0, 1));
border-radius: 12px;
border: none;
left: 25%;
bottom: 4%;
position: absolute;
padding: 6%;
width: 50%;  
}

.btn3 a{
text-decoration: none;
color: silver;
font-size: 100%;
font-family: cursive; 
}

.d{
background-image: url(tarta_Chocolate_guinness.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
top: 0;
position: absolute;
left: 70%;
width: 18%;
background-color: gainsboro;
height: 100%;     
}

.d1
{
display: none;
top: 0;
position: absolute;
left: 70%;
width: 18%;
background-color: black;
height: 100%;
opacity: 0.8;
}


.padre4
{
display: block;
text-align: center;
margin: 2% 5%;
font-size: 12px;
color: white;
}

.padre4 p
{
margin: -1% -2%;
font-size:6px;
color: steelblue;
font-family: sans-serif; 
}

.link4
{
font-size: 10px;
color: dodgerblue;
position: absolute;
bottom: 18px;
left: 20%;
}

.hidden4    
{ 
position: absolute;
bottom: 5px;
left: 20%;
font-size: 10px;
color: cornflowerblue;
text-decoration: none;
}

.btn4{
background-image: radial-gradient(ellipse farthest-corner at 0px 65px , #00FFFF -2%, rgba(0, 0, 0, 1));
border-radius: 12px;
border: none;
left: 25%;
bottom: 4%;
position: absolute;
padding: 6%;
width: 50%;    
}

.btn4 a{
text-decoration: none;
color: silver;
font-size: 100%;
font-family: cursive; 
}


.cartes{
padding-bottom: 27%;
width: 99%;
height: 20px;
position: relative;
left: 1%;
bottom: -2em;
}

.f{
background-image: url(panesito.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
top: 2%;
position: absolute;    
left: 10%;
width: 18%;
background-color: gainsboro;
height: 100%; 
}

.btn6{
background-image: radial-gradient(ellipse farthest-corner at 0px 65px , #00FFFF -2%, rgba(0, 0, 0, 1));
border-radius: 12px;
border: none;
left: 25%;
bottom: 4%;
position: absolute;
padding: 6%;
width: 50%;  
}

.btn6 a{
 text-decoration: none;
color: silver;
font-size: 100%;
font-family: cursive; 
}

.g{
background-image: url(puding.jpg);
background-size: 100% 100%;
position: absolute;    
left: 30%;
width: 18%;
background-color: gainsboro;
height: 100%;
top: 2%; 
}



.btn7{
background-image: radial-gradient(ellipse farthest-corner at 0px 65px , #89F118 -2%, rgba(0, 0, 0, 1));
border-radius: 12px;
border: none;
left: 25%;
bottom: 4%;
position: absolute;
padding: 6%;
width: 50%;  
}

.btn7 a{
 text-decoration: none;
color: silver;
font-size: 100%;
font-family: cursive;     
}

.h{
background-image: url(RolloCrepas.JPG);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;    
left: 50%;
width: 18%;
background-color: gainsboro;
height: 100%;
top: 2%;   
}

.btn8{
background-image: radial-gradient(ellipse farthest-corner at 0px 65px , #00FFFF -2%, rgba(0, 0, 0, 1));
border-radius: 12px;
border: none;
left: 25%;
bottom: 4%;
position: absolute;
padding: 6%;
width: 50%;   
}

.btn8 a{
  text-decoration: none;
color: silver;
font-size: 100%;
font-family: cursive;    
}

.h1
{
display: none;
opacity: 0.8;
position: absolute;    
left: 50%;
width: 18%;
background-color: black;
height: 100%;
top: 2%;
}



.padre7
{
display: block;
text-align: center;
margin: 10% 5%;
font-size: 14px;
color: white;
}

.padre7 p
{
margin: -1% -2%;
font-size:6px;
color: steelblue;
font-family: sans-serif;   
}

.link7
{
font-size: 10px;
color: dodgerblue;
position: relative;
}

.hidden7
{
font-size: 10px;
color: cornflowerblue;
text-decoration: none;
}


.i{
background-image: url(bizcocho.jpg);
background-size: 100% 100%;
position: absolute;    
left: 70%;
width: 18%;
background-color: gainsboro;
height: 100%;
top: 2%; 
}

.btn9{
background-image: radial-gradient(ellipse farthest-corner at 0px 65px , #89F118 -2%, rgba(0, 0, 0, 1));
border-radius: 12px;
border: none;
left: 25%;
bottom: 4%;
position: absolute;
padding: 6%;
width: 50%;    
}

.btn9 a{
text-decoration: none;
color: silver;
font-size: 100%;
font-family: cursive; 
}



@media screen ,(max-height:360px)
{
.padre1
{
margin: 2% 5%;
font-size: 15px;
}

.padre1 p
{
font-size: 10.9px;
}

.link1
{
left: 29%;
bottom: 32%;
}

.hidden1
{ 
bottom: 12%;
left: 29%;
}
.padre2
{
margin: 2% 5%;
font-size: 15px;
}

.padre2 p
{
font-size: 10.9px;
}

.link2
{
left: 29%;
bottom: 32%;
}

.hidden2
{ 
bottom: 12%;
left: 29%;
}
.padre3
{
margin: 2% 5%;
font-size: 15px;
}

.padre3 p
{
font-size: 10.9px;
}

.link3
{
left: 29%;
bottom: 32%;
}

.hidden3
{ 
bottom: 12%;
left: 29%;
}
    
.padre4
{
margin: 2% 5%;
font-size: 15px;
}

.padre4 p
{
font-size: 10.9px;
}

.link4
{
left: 29%;
bottom: 32%;
}

.hidden4
{ 
bottom: 12%;
left: 29%;    
    
}
.padre7
{
margin: 2% 5%;
font-size: 15px;
}

.padre7 p
{
font-size: 10.9px;
}

.link7
{
left: 29%;
bottom: 32%;
}

.hidden7
{ 
bottom: 12%;
left: 29%;
}
}