*{
margin: 0;
}

.title{
font-family: 'lobster', cursive;
background-color: beige;    
margin-left:  10%; 
margin-right: 10%;
text-align: center;
padding: 1%;
}

.main{
padding: 2%;
margin: 0 10% 0 10%;
background-color: cadetblue;

}

.paragraph{
padding: 2%;
margin: 10%;
font-family: sans-serif;
}

.ing{
font-family: sans-serif;
background-color: bisque;
text-align: center;
margin:  3% 21% 3% 21%;
border-top: solid burlywood 3px;
border-radius: 0 0 12px 12px;
}

.ingred{
list-style-type: none;
text-align:center;
}

.statement{
text-align: center;
margin: 3% 21% 3% 21%;
background-color: indianred;
border-top: solid firebrick 3px;
border-radius: 0 0 12px 12px;
font-family: sans-serif;
}

.vidio{
border: 1px dotted black;
display: inherit;
margin: 0 30% 0 30%;
}


.menu-side{
transition: 15s;
list-style-type: none;
font-family: sans-serif;
right: 10%;
position: absolute;
}

.neto{
position: relative;
display:none;
text-align: justify;
padding: 10% 0% 10% 4%;
background-color: #000;
color: aliceblue;
}

.neto li{
padding: 12%;
}

.neto a{
padding: 10% 0 10%;
text-decoration: none;
color: aliceblue;
}

.idi{
border-width: 1px;
border-color: aliceblue;
border-top-style: solid;
}
#checky{
display: none;
}